@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0px;
}

.box {
  padding: 0px 50px 0px 50px;
  /* outline: 2px solid #1d4ed8; */
  border-radius: 10px;
  /* color: #1d4ed8; */
  /* background-color: rgba(11, 31, 85, 0.2); */
  text-align: center;
  margin: 0px;
  max-width: 400px;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.mid {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.search-bar-center {
  display: flex;
  border: 2px solid #1d4ed8;
}

.search-bar-center input[type=text] {
  padding: 20px;
  font-size: 24px;
  outline: none;
}

.search-bar-center button {
  padding: 20px;
  background-color: #1d4ed8;
  color: #ffffff;
  font-size: 24px;
  outline: none;
  border: none;
}

.search-bar-center button:hover {
  background-color: #00007b;
}

.blue-text {
  color: #1d4ed8;
}

.text-18 {
  font-size: 18px;
}

.bold {
  font-weight: 700;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.w-100 {
  width: 100vw;
}

.h-64px {
  height: 64px;
}

.padding-x-md {
  padding-right: 16px;
  padding-left: 16px;
}

.shadow-md {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* .grid-container-1 {
    display: flex;
    grid-template-columns: auto;
    padding: 10px;
    
  }

  .grid-container-2 {
    display: flex;
    grid-template-columns: auto;
    padding: 10px;
    align-content: center;
    justify-content: center;
  }

  .grid-container-3 {
    display: flex;
    grid-template-columns: auto;
    padding: 10px;
    align-content: center;
    justify-content: center;
  }

  @media (min-width: 1050px) {
    .grid-container-3 { grid-template-columns: auto auto }
    .grid-container-2 { grid-template-columns: auto auto }
  }

  @media (min-width: 1300px) {
    .grid-container-3 { grid-template-columns: auto auto auto }
  }
  
  .grid-item {
    text-align: center;
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 100%;
    justify-content: center;
  }

  .grid-item-full {
    text-align: center;
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  } */

.flex {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.flex-item {
  display: flex;
  text-align: center;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  margin: 10px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.profile-div {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.profile-div img {
  width: 200px;
  height: 200px;
}

.margin-right-xl {
  margin-right: 64px;
}

.left {
  width: 100%;
  display: flex;
  justify-content: left;
  justify-items: left;
  text-align: left;
}

.profile-text {
  padding: 20px 0px;
}

.profile-text h1 {
  margin: 0px;
}

.profile-text p {
  margin: 0px;
  font-size: 18px;
}

.italic {
  font-style: italic;
}

.text-grey {
  color: #444444;
}

.search-bar {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 2px solid #1d4ed8;
}

.search-bar input[type=text] {
  padding: 12px;
  border-radius: 10px 0px 0px 10px;
  border: 0px;
  background-color: #f2f2f2;
  outline: none;
}

.search-bar input[type=submit] {
  padding: 12px;
  border-radius: 0px 7px 7px 0px;
  border: 0px;
  background-color: #1d4ed8;
  color: #ffffff;
}

.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}